{% extends 'main/layout.html' %}


{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Добро пожаловать на наш сайт по добавлению статей!
Здесь вы можете поделиться своими идеями, знаниями и опытом, разместив свою собственную статью. Мы создали это пространство для того, чтобы вы могли выразить свои мысли, поразмышлять над интересующими вас темами и вдохновить других своими идеями.
Добавление статьи на нашем сайте - это простой и удобный процесс. Вы можете выбрать любую тему, которая вам интересна: от научных открытий и технических новинок до искусства, литературы и путешествий.
Мы приглашаем вас присоединиться к нашему сообществу и делиться своими историями. Не теряйте время и начните добавлять свои статьи уже сегодня! Мы с нетерпением ждем ваших творческих идей и вдохновляющих историй.
С уважением,
Команда сайта по добавлению статей!</p>
        <a href="{% url 'about' %}" class="btn btn-danger">На страницу про нас</a>
        {% for el in values %}
            {% if el == 'Hallo' %}
                {% filter upper %} # Первый вариант
                    <p>{{ el|upper }}</p> # Второй вариант
                {% endfilter %}
            {% endif %}
        {% endfor %}
        <p>{{ obj.age }}</p>
    </div>
{% endblock %}


{% block title %}{{ title }}{% endblock %}